In [45]:
square = lambda x: x ** 2

square(3)

9

In [46]:
cube = lambda x: x ** 3

cube(3)

27

In [47]:
num_sum = lambda x, y: x + y

num_sum(2, 6)

8

In [48]:
product = lambda x, y: x * y

product(6, 2)

12

#### sorted

- sort an iterable
- lambda lets you choose which key of an iterable to sort by, or to apply a funciton to some part and sort by that

`sorted(iterable, key=thing_to_sort_by, reverse=False)`

In [49]:
my_tuples = [("shane", 8), ("alesha", 9), ("caron", 1), ("harv", 2), ("jenna", 4)]

#Sort the list by the number in each tuple
sorted(my_tuples, key=lambda tup: tup[1])

[('caron', 1), ('harv', 2), ('jenna', 4), ('shane', 8), ('alesha', 9)]

In [50]:
#Sort the list by the name in each tuple
sorted(my_tuples)

[('alesha', 9), ('caron', 1), ('harv', 2), ('jenna', 4), ('shane', 8)]

In [51]:
# Sort the list by the length of the name in each tuple
sorted(my_tuples, key=lambda tup: len(tup[0]))

[('harv', 2), ('shane', 8), ('caron', 1), ('jenna', 4), ('alesha', 9)]

In [52]:
# Sort the list by the length of the name in each tuple, but in reverse order
sorted(my_tuples, key=lambda tup: len(tup[0]), reverse=True)

[('alesha', 9), ('shane', 8), ('caron', 1), ('jenna', 4), ('harv', 2)]

#### map

- apply a function to elements of an iterable

`map(lambda x: x*2, my_function)`

In [53]:
# this doesn't do that - it just puts two copies of the list together
ls_numbers = [1, 5, 10, 15, 20, 25, 42]
ls_numbers * 2

[1, 5, 10, 15, 20, 25, 42, 1, 5, 10, 15, 20, 25, 42]

In [54]:
list_comp_double = [x * 2 for x in ls_numbers]
map_double = map(lambda x: x * 2, ls_numbers)

print(list_comp_double)
print(list(map_double))

[2, 10, 20, 30, 40, 50, 84]
[2, 10, 20, 30, 40, 50, 84]

In [20]:
my_numbers = [2, 6, 4, 9, 10]

square = lambda x: x ** 2

list(map(square, my_numbers))

[4, 36, 16, 81, 100]

In [21]:
cube = lambda x: x ** 3

list(map(cube, my_numbers))

[8, 216, 64, 729, 1000]

In [22]:
square_even_cube_odd = lambda x: x ** 2 if x % 2 == 0 else x ** 3

list(map(square_even_cube_odd, my_numbers))

[4, 36, 16, 729, 100]

#### filter

- filter the elements of an iterable based on a condition in the lambda

`filter(lambda x: x > 1, my_numbers)`

In [55]:
my_tuples = [("shane", 8), ("alesha", 9), ("caron", 1), ("harv", 2), ("jenna", 4)]

list(filter(lambda x: x[1] >= 4, my_tuples))

[('shane', 8), ('alesha', 9), ('jenna', 4)]

In [62]:
# Create a lambda function that takes in a string and returns True if the string is longer than 5 characters, and False if it is not. 
# Then use filter and the lambda function to filter out all strings that are longer than 5 characters

my_strings = ["carrier", "boat", "hen", "yellowing", "just", "great", "evensong"]

long_string = lambda x: True if len(x) > 5 else False

list(filter(long_string, my_strings))

['carrier', 'yellowing', 'evensong']

In [68]:
# Create a lambda function that takes in a string and returns True if the string is longer than 5 characters and starts with a vowel, and False if it is not. 
# Then use filter and the lambda function to filter out all strings that are longer than 5 characters and start with a vowel
long_string_vowel = lambda x: True if (len(x) > 5) and (x[0] in ['a', 'e', 'i', 'o', 'u']) else False 

list(filter(long_string_vowel, my_strings))

['evensong']

['c', 'b', 'h', 'y', 'j', 'g', 'e']